body {
    color:white;
    background: black;
    margin: 0px;
    }

    header {
        border-bottom: solid 2px white;
        padding: 20px;
    font-size: 40px;
    color: orangered;
    }

    p {
    font-size: 30px;
    }

    /* Media Queries */
  
  @media (max-width: 767px) {
    main {
      flex-direction: column;
    }
    section {
      margin-bottom: 10px;
    }
    form {
      flex-direction: column;
    }
    input, textarea {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    header {
      padding: 0.5em;
    }
    nav ul {
      flex-direction: column;
    }
    nav li {
      margin-bottom: 10px;
    }
    main {
      padding: 1em;
    }
    section {
      padding: 0.5em;
    }
    form {
      padding: 0.5em;
    }
  }